<main class="customer-container">
    <div class="customer-form border border-gray-300 rounded-lg bg-gray-50">
        @if(successCreateCustomer) {
            <div id="toast-success"
                class="flex items-center w-full mx-auto max-w-xs p-2 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
                role="alert">
                <div
                    class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                    <svg class="w-2.5 h-2.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                    </svg>
                    <span class="sr-only">Success icon</span>
                </div>
                <div class="ms-3 text-sm font-normal">Customer created</div>
                <button type="button" (click)="closeToast()"
                    class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                    data-dismiss-target="#toast-danger" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                </button>
            </div>
            }
        <h3 class="mb-5 text-center text-gray-700">{{mode === 'create' ? 'Create customer' : 'Update customer'}}</h3>
        <form class="max-w-sm mx-auto login-form" [formGroup]="customerForm">
            <div class="mb-5">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer
                    name</label>
                <input type="text" id="name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Company name here..." formControlName="name" required />
                @if((customerForm.get('name')?.touched || customerForm.get('name')?.dirty || isSubmitted) &&
                customerForm.get('name')?.errors) {
                @if(customerForm.get('name')?.errors?.['usernameRequired']) {
                <p class="input-invalid">Customer name is necessary</p>
                }
                @if(customerForm.get('name')?.hasError('minlength') &&
                !customerForm.get('name')?.errors?.['usernameRequired']) {
                <p class="input-invalid">Minimiun 3 characters</p>
                }
                }
            </div>
            <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer
                    email</label>
                <input type="email" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Your email here..." formControlName="email" required />
                @if(customerForm.get('email')?.touched || customerForm.get('email')?.dirty || isSubmitted &&
                customerForm.get('email')?.errors) {
                @if(customerForm.get('email')?.errors?.['emailRequired']) {
                <p class="input-invalid">Email is necessary</p>
                }
                @if(customerForm.get('email')?.hasError?.('email') &&
                !this.customerForm.get('email')?.errors?.['emailRequired']) {
                <p class="input-invalid">Please use a valid email</p>
                }
                @if(!validEmail && isSubmitted && !customerForm.get('email')?.errors?.['emailRequired']) {
                <p class="input-invalid">Email already in use</p>
                }
                }
            </div>
            <div class="mb-5">
                <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer
                    address</label>
                <input type="text" id="address"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    formControlName="address" required />
                @if(customerForm.get('address')?.touched || customerForm.get('address')?.dirty || isSubmitted &&
                customerForm.get('address')?.errors) {
                @if(customerForm.get('address')?.errors?.['required']) {
                <p class="input-invalid">Address is necessary</p>
                }
                @if(customerForm.get('address')?.hasError?.('minlength') &&
                !this.customerForm.get('address')?.errors?.['required']) {
                <p class="input-invalid">Address should be at least 10 characters</p>
                }
                @if(customerForm.get('address')?.hasError?.('maxlength') &&
                !this.customerForm.get('address')?.errors?.['required']) {
                <p class="input-invalid">Address shouldn't have more than 200 characters</p>
                }
                }
            </div>
            <div class="mb-5">
                <div class="flex gap-3">
                    <div>
                        <label for="city"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
                        <input type="text" id="city"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            formControlName="city" required />
                        @if(customerForm.get('city')?.touched || customerForm.get('city')?.dirty || isSubmitted &&
                        customerForm.get('city')?.errors) {
                        @if(customerForm.get('city')?.errors?.['required']) {
                        <p class="input-invalid">City is necessary</p>
                        }
                        @if(customerForm.get('city')?.hasError?.('minlength') &&
                        !this.customerForm.get('city')?.errors?.['required']) {
                        <p class="input-invalid">City should be at least 3 characters</p>
                        }
                        @if(customerForm.get('city')?.hasError?.('maxlength') &&
                        !this.customerForm.get('city')?.errors?.['required']) {
                        <p class="input-invalid">City shouldn't have more than 50 characters</p>
                        }
                        }
                    </div>
                    <div>
                        <label for="postal_code"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Postal
                            code</label>
                        <input type="text" id="postal_code"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            formControlName="postal_code" required />
                        @if(customerForm.get('postal_code')?.touched || customerForm.get('postal_code')?.dirty ||
                        isSubmitted &&
                        customerForm.get('postal_code')?.errors) {
                        @if(customerForm.get('postal_code')?.errors?.['postalCodeRequired']) {
                        <p class="input-invalid">Postal code is required</p>
                        }

                        @if(customerForm.get('postal_code')?.hasError?.('postalCodePattern') &&
                        !this.customerForm.get('postal_code')?.errors?.['postalCodeRequired']) {
                        <p class="input-invalid">Please use a valid postal code</p>
                        }
                        }

                    </div>
                </div>
            </div>
            <div class="mb-6">
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
                    number</label>
                <input type="number" id="phone"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    formControlName="phone" required />
                @if(customerForm.get('phone')?.touched || customerForm.get('phone')?.dirty || isSubmitted &&
                customerForm.get('phone')?.errors) {
                @if(customerForm.get('phone')?.errors?.['phoneRequired']) {
                <p class="input-invalid">Phone number is required</p>
                }

                @if(customerForm.get('phone')?.hasError?.('phonePattern') &&
                !this.customerForm.get('phone')?.errors?.['phoneRequired']) {
                <p class="input-invalid">Phone number must have 9 numbers</p>
                }
                }
            </div>
            <button type="submit" (click)="onSubmit()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            <button type="button" (click)="closeModal()"
                class="mt-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg w-full px-5 py-2.5 border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700
                 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cancel</button>

        </form>
    </div>
</main>
<div class="modal-overlay w-full h-full fixed bg-gray-100 z-20 top-0 left-0">
</div>