.sidebar {
    background-color: #0f2246;
}

a {
    color: #ffffff;

    &:hover {
        color: #0f2246;
    }
}

// @media (max-width: 1024px) {
//     .sidebar {
//         width: 150px;
//     }
// }
// @media (max-width: 768px) {
//     .sidebar {
//         width: 75px;
//     }
// }