.users {
    padding: 0 20px 0 170px;
    margin-top: 100px;
}

.edit-hidden {
    top: -25px;
    left: 0px;
    background: rgb(65, 151, 117);
    color: white;
    padding: 1px 3px;
    border-radius: 5px;
    visibility: hidden;
}

.edit-hoover {
    &:hover .edit-hidden {
        visibility: visible;
    }
}

.btn-edit {
    width: 30px;
    height: 30px;

    &:hover fa-icon {
        color: white;
    }
}

@media (max-width: 768px) {
    .users {
        padding-left: 75px;

        &-wfull {
            width: 100%;
        }
    }
}

@media (max-width: 640px) {
    .users {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 400px) and (max-width: 650px) {
    .users-inputs {
        margin-top: 10px;
    }
}