<app-sidebar></app-sidebar>
<main class="todo">
    <div class="pb-5">
        <h2>Tasks</h2>
    </div>
    <div>
        <div>
            <div
                class="w-full p-5 flex  flex-col bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="">
                    @if(this.dashboardMode === 'Admin' || this.dashboardMode === 'Supervisor') {
                    <div class="w-full p-4">
                        <button type="button" (click)="createTaskModal()"
                            class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add
                            New Todo Task</button>
                    </div>
                    }
                </div>
                <div class="flex flex-col md:flex-row columns-3 items-center">
                    <div class="grow todo-wfull">
                        <ul class="space-y-3">
                            <li>
                                <div class="flex columns-2">
                                    <div class="flex">
                                        <fa-icon class=" ps-5" [icon]="faEnvelope" style="color: #b3b3b3"></fa-icon>
                                        <p class="ps-5 ">Today Tasks</p>
                                    </div>
                                    <span class="text-end pe-20 grow">10</span>
                                </div>
                            </li>
                            <li>
                                <div class="flex columns-2">
                                    <div class="flex">
                                        <fa-icon class="ps-5" [icon]="faFolderOpen" style="color: #b3b3b3"></fa-icon>
                                        <p class="ps-5">Upcoming tasks</p>
                                    </div>
                                    <span class="text-end pe-20 grow">{{newTasks.length}}</span>
                                </div>
                            </li>
                            <li>
                                <div class="flex columns-3">
                                    <div class="flex">
                                        <fa-icon class="ps-5" [icon]="faTag" style="color: #b3b3b3"></fa-icon>
                                        <p class="ps-5">Important</p>
                                    </div>
                                    <span class="text-end pe-20 grow">{{importantTasks.length}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="grow hidden md:block">
                        <div>
                            <ul class="space-y-3 ">
                                <li class="flex ps-5 items-center">
                                    <div class="w-2.5 h-2.5 rounded bg-emerald-300 me-5"></div>
                                    <span class="text-center">Low</span>
                                </li>
                                <li class="flex ps-5 items-center">
                                    <div class="w-2.5 h-2.5 rounded bg-orange-300 me-5"></div>
                                    <span>Medium</span>
                                </li>
                                <li class="flex ps-5 items-center">
                                    <div class="w-2.5 h-2.5 rounded bg-red-500 me-5"></div>
                                    <span>High</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grow">
                        <img class="mx-auto hidden md:block" src="../../../assets/20945628_resize.jpg" alt="Tasks image"
                            width="200px" height="200px">
                    </div>
                </div>

            </div>

        </div>
        <div class="pt-5">
            <div class="tasks-table relative overflow-x-auto shadow-md rounded-lg border">
                <div
                    class="flex items-center justify-between flex-column flex-wrap md:flex-row pb-4 bg-white dark:bg-gray-900 p-5">
                    @if(this.dashboardMode === 'Admin' || this.dashboardMode === 'Supervisor') {

                    <div class="">
                        <button id="dropdownActionButton" data-dropdown-toggle="dropdownAction"
                            class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm p-2 ps-5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                            type="button">
                            <span class="sr-only">Action button</span>
                            Action
                            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 4 4 4-4" />
                            </svg>
                        </button>
                        <!-- Dropdown menu -->


                        <div id="dropdownAction"
                            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                aria-labelledby="dropdownActionButton">
                                <li>
                                    <a
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Create
                                        task</a>
                                </li>

                                <li>
                                    <a (click)="deleteTask()"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete
                                        task</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    }

                    <div class="relative flex gap-5 todo-inputs">
                        <div class="table-status ">
                            <select id="countries" [formControl]="selectControl"
                                class="block p-2 ps-5 text-sm text-gray-900 border border-gray-300 rounded-lg w-28 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option class="" selected>Status</option>
                                <option value="new">New</option>
                                <option value="pending">Pending</option>
                                <option value="in progress">In progress</option>
                                <option value="completed">Completed</option>
                            </select>
                        </div>
                        <div>
                            <label for="table-search" class="sr-only">Search</label>
                            <div class="absolute inset-y-0 rtl:inset-r-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                            </div>
                            <input type="text" id="table-search-tasks" [formControl]="searchControl"
                                class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-60 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Search for tasks">
                        </div>
                    </div>
                </div>
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            @if(this.dashboardMode === 'Admin' || this.dashboardMode === 'Supervisor') {
                            <th scope="col" class="p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-all-search" type="checkbox"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                </div>
                            </th>
                            }
                            <th scope="col" class="px-3 py-3 tracking-wider text-center">
                                Title
                            </th>
                            <th scope="col" class="px-3 py-3 tracking-wider text-center">
                                Assigned Date
                            </th>
                            <th scope="col" class="px-3 py-3 tracking-wider text-center">
                                Due Date
                            </th>
                            <th scope="col" class="px-3 py-3 tracking-wider text-center">
                                Status
                            </th>
                            <th scope="col" class="px-3 py-3 tracking-wider text-center">
                                Priority
                            </th>
                            <th scope="col" class="px-3 py-3 tracking-wide text-center">
                                Assigned to
                            </th>
                            <th scope="col" class="px-3 py-3 tracking-wider text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(task of filterTasks; track $index) {
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            @if(this.dashboardMode === 'Admin' || this.dashboardMode === 'Supervisor') {
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-table-search-1" type="checkbox"
                                        (change)="toggleChecked(task, $event)"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            }
                            <th scope="row"
                                class="flex items-center ps-5 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="text-center">
                                    <div class="text-xs font-semibold">{{task.title}}</div>
                                </div>
                            </th>
                            <td class="ps-3 py-4">
                                <div class=" text-center font-normal text-gray-500 text-xs">
                                    <span>{{task.assigned_date | date: 'dd/MM/yyyy'}}</span>
                                </div>
                            </td>
                            <td class="ps-3 py-4">
                                <div class="text-center font-normal text-gray-500 text-xs">
                                    <span>{{task.due_date | date: 'dd/MM/yyyy'}}</span>
                                </div>
                            </td>
                            <td class="ps-3 py-4">
                                <div class="text-center text-xs">
                                    <span [ngStyle]="{'color': getColor(task.status)}"
                                        class="font-normal text-gray-500">{{task.status}}</span>
                                </div>
                            </td>
                            <td class="ps-3 py-4">
                                <div class="text-center text-xs">
                                    <span
                                        [ngStyle]="{'color': getColor(task.priority), 'background-color': getBgColor(task.priority)}"
                                        class="text-xs  font-semibold px-2 py-1 rounded-2xl">
                                        {{task.priority}}
                                    </span>
                                </div>
                            </td>
                            <td class="ps-3 py-4 text-xs">
                                <div class="text-center">
                                    @for(user of task.users; track $index) {
                                    <span>{{user.username}}</span>
                                    }

                                </div>
                            </td>
                            <td class="ps-3 py-4 flex gap-3 justify-center">
                                <div class="edit-hoover relative">
                                    <button (click)="editTaskModal(task)"
                                        class="btn-edit p-2 rounded-full dark:text-blue-500 bg-emerald-100 hover:bg-emerald-400">
                                        <fa-icon class="text-emerald-600 flex justify-center"
                                            [icon]="faPenSquare"></fa-icon></button>
                                    <span class="edit-hidden absolute">Edit</span>
                                </div>
                                <div class="view-hoover relative">
                                    <button (click)="viewTaskModal(task)"
                                        class="btn-view p-2 rounded-full dark:text-blue-500 bg-orange-200 hover:bg-orange-400"><fa-icon
                                            class="flex justify-center" [icon]="faEye"></fa-icon></button>
                                    <span class="view-hidden absolute">View</span>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>

@if(showModal) {
<app-task-modal [mode]="taskModalMode" [taskData]="task" (modalChanged)="toggleModal()"
    [modeDashboard]="dashboardMode"></app-task-modal>
}