@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
::before,
::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
}

ul {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}


a {
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}