.dashboard-banner {
    width: 100%;
    height: 150px;
    background-image: url('../../../assets/Banner.png');
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.dashboard {
   
    padding-left: 135px;
    &-avatar {
        background: rgb(233, 233, 233);
        display: inline-block;
        // padding: 10px;
    }
}

.charts {
    padding-left: 135px;

}

.flex-item {
    margin: 0 auto;
    flex: 1;
    min-width: 200px;
}

@media (max-width: 768px) {
    .dashboard {
        padding-left: 45px;
    }
    .charts {
        padding-left: 45px;
    }
    .flex-item {
        min-width: 100%;
    }
}

@media (max-width: 640px) {
    .dashboard {
        padding-left: 10px;
        padding-right: 10px;
    }
    .charts {
        padding-left: 10px;
        padding-right: 10px;
    }
}